body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header > h1,
nav,
nav > ul > li {
  display: inline-block;
}

header {
  background-color: #111b24;
  text-align: center;
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
}
li > a {
  padding: 10px 20px;
}
h1 {
  /* font-size: 40px; */
  text-transform: uppercase;
  margin-right: 200px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 1px 1px 4px black;
}
h1 span {
  color: #ff9000;
}

li > a:hover {
  background-color: #365475;
  border-bottom: 4px solid #ff9000;
}
/*orange #FF9000 

gris #365475

blue #101A23
*/
